* {
    margin: 0;
    padding: 0;
}

.gridmenu {
    padding-top: 1%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body::after {
    content: "";
    background: url(../img/contato1.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.barra-cima {
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 8rem;
}

.barra-cima h1{
    color: white;
    text-align: center;
    padding-top: 2rem;
}