* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: rgb(32, 32, 32);
    padding: 2%;
}

.copy {
    color: white;
    font-size: 15px;
    text-align: center;
}

.footer h1 a {
    text-decoration: none;
    color: #fff;
}

.footer h1 a:hover {
    color: #f46c93;
}