* {
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    background: url(img/sobre1.png);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.gridmenu {
    padding-top: 1%;
}