* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/projeto-banner.png);
}

.menu {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cursos {
    padding-left: 3%;
}

.cursos:hover {
    opacity: 0.5;
}

.sobre {
    padding-top: 25%;
}

.sobre:hover {
    opacity: 0.5;
}

.contato {
    padding-top: 25%;
}

.contato:hover {
    opacity: 0.5;
}

.login {
    padding-top: 20%;
    width: 60%;
}

.login:hover {
    opacity: 0.5;
}

.logo1 {
    text-align: center;
    padding-top: 10%;
}