* {
    margin: 0;
    padding: 0;
    padding-top: 0.2%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.logo {
    width: 80%;
}

.gridmenu {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #000;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
}

#menu-h ul li a {
    font-size: 20px;
    padding-top: 6%;
    text-indent: 40px;
}

#menu-h ul li a:hover {
    color: red;
}